@media all and (max-width:1366px) {
    .header {
        .header-logo {
            padding-left: 0;
        }
        .header-top {
            padding: 0 100px;
        }
        .header-right {
            padding-right: 0;
        }
        .header-content {
            padding-left: 25px;
            .sub-title {
                font-size: 20.339px;
                line-height: 0;
            }
            .title {
                font-size: 70px;
                margin-top: 20px;
                letter-spacing: 25.6px;
            }
            .btn-discover {
                margin-left: 0;
            }
        }
        .header-social {
            padding-right: 20px;
            li {
                font-size: 20px;
                line-height: 2;
                p {
                    width: 150px;
                }
            }
            .shape {
                height: 1px;
                width: 60px;
                background-color: rgb(51, 51, 51);               
            }
        }
    }
    .main-content {
        .promotion {
            &-title {
                font-size: 16px;
                line-height: 1.8;   
            }
            .sub-title {
                font-size: 13px;
            }
        }
        .banner {
            .banner2 {
                .content {
                    position: absolute;
                    top: 16%;
                    right: 6.5%;
                    .title {
                        font-size: 16px;
                    }
                    .percent {
                        margin-top: 5%;
                        font-size: 80px; 
                    }
                    .sub-title {
                        font-size: 20.509px;
                        margin-top: 16%; 
                    }
                    .shop-now {
                        margin-top: 0;
                        font-size: 14px;  
                    }
                }
            }
        }
        .featured {
            .featured-top {
                &-inner {
                    padding: 0 15px;
                    .view-more {
                        ion-icon {
                            margin-right: 0;
                        }
                    }
                }
            }
            .featured-list {
                .row {
                    margin: 0 -15px;
                    justify-content: center;
                }
                .featured-item {
                    width: 25%;
                    padding: 0 15px;
                }
            }
        }
        .blog {
            margin: 0 auto;
            margin-top: 100px;
            .blog-list {
                .row {
                    margin: 0 -15px;
                    .blog-item {
                        width: 50%;
                        padding: 0 15px;
                        margin-bottom: 20px;
                        .blog-inner {
                            .blog-top {
                                .blog-info {
                                    .blog-title {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .brand {
            .brand-list {
                .row {
                    margin: 0;
                }
                .brand-item {
                    width: 33.33333%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer {
        padding: 0 5%;
        .footer-top {
            padding-left: 35px;
            padding-right: 35px;
            ul {
                li {
                    letter-spacing: 1px;
                    margin-right: 18px;
                    font-size: 10px;
                }
            }
        }
        .footer-bottom {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}
@media all and (max-width:1024px) {
    .header {
        .header-top {
            padding: 0 10px;
        }
        .header-content {
            padding: 0 20px;
            .sub-title {
                font-size: 18.339px;
            }
            .title {
                font-size: 60px;
                margin-top: 15px;
                letter-spacing: 15px;
            }
            .btn-discover {
                margin-left: 0;
            }
        }
    }
    .main-content {
        .promotion {
            height: 64px;
            &-title {
                letter-spacing: 1px;
                line-height: 1.5;   
            }
            .sub-title {
                letter-spacing: 0px;
                font-size: 13px;
                line-height: 1;
            }   
            &-item {
                width: 33.33333%;
                padding: 0;
                padding-top: 10px;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
        }
        .slogan {
            height: 280px;
            p {
                font-size: 28px;
            }
        }
        .banner {
            .row {
                margin: 0 -15px;
                padding: 0;
            }
            .banner-item {
                padding: 10px;
            }
            .banner2,
            .banner6 {
                width: 100%;
                order: 1;
            }
            .banner1,
            .banner3,
            .banner4,
            .banner5 {
                width: 50%;
                order: 2;
            }
            .banner2 {
                .content {
                    position: absolute;
                    top: 23%;
                    right: 11.5%;
                }
            }
        }
        .featured {
            .featured-top {
                padding: 0 50px;
            }
            .featured-list {
                .row {
                    margin: 0 -15px;
                }
                .featured-item {
                    padding: 0 10px;
                    width: 50%;
                }
            }
        }
        .blog {
            margin: 0 auto;
            margin-top: 100px;
            .blog-list {
                .row {
                    margin: 0 -15px;
                    .blog-item {
                        width: 50%;
                        margin-bottom: 30px;
                        padding: 10px;
                        text-align: center;
                        .blog-inner {
                            .blog-bottom {
                                display: flex;
                                justify-content: center;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .footer {
        padding: 0 5%;
        .footer-top {
            padding: 0;
        }
        .footer-bottom {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
@media all and (max-width:768px) {
    .header {
        padding-bottom: 0;
        height: 615.54px;
        background-position: right 30% top;
        .header-top {
            margin-top: 15px;
        }
        .header-content {
            padding-left: 15px;
            .sub-title {
                font-size: 15.339px;
            }
            .title {
                font-size: 50px;
                margin-top: 10px;
                letter-spacing: 10px;
                margin-bottom: 30px;
            }
            .btn-discover {
                letter-spacing: 1px;
                width: 150px;
                height: 30px;
                font-size: 13px;
                line-height: 1;   
            }
        }
        .header-social {
            li {
                font-size: 16px;
                line-height: 2;
                p {
                    width: 100px;
                }
                &:hover {
                    opacity: 1;
                    .shape {
                        margin-left: 10px;
                        opacity: 1;
                    }
                    color: rgb(255, 255, 255);
                }
            }
            .shape {
                margin-left: 10px;
                height: 1px;
                width: 20px;
                background-color: rgb(51, 51, 51);               
            }
        }
    }
    .main-content {
        .slogan {
            height: 250px;
            p {
                font-size: 20px;
            }
        }
        .banner {
            .banner2 {
                .content {
                    position: absolute;
                    top: 17%;
                    right: 6.5%;
                }
            }
        }
        .brand {
            .brand-list {
                .brand-item {
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer {
        .footer-top {
            nav {
                display: none;
            }
            .nav-mobile {
                @include transit(all, .5s);
                display: block;
                background-color: $main-color;
                z-index: 999;
                height: 100%;
                width: 30%;
                @include transformer(translateX(120%));
                ul {
                    display: block;
                    margin-top: 0;
                    li {
                        color: black;
                        border-bottom: 1px solid #333333;
                        padding: 10px 15px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .active {
                @include transformer(translateX(0));
            }
            #btn-nav {
                position: absolute;
                bottom: 100px;
                right: -4px;
                display: flex;
            }
        }
    }
}
@media all and (max-width:576px) {
    .header {
        .logo-mobile {
            display: block;
        }
        .header-top {
            margin-top: 5px;
            .header-logo {
                display: none;
            }
        }
        .header-content {
            padding-left: 15px;
            .sub-title {
                font-size: 15.339px;
                letter-spacing: 6px;
            }
            .title {
                font-size: 26px;
                margin-top: 10px;
                letter-spacing: 8.6px;
                margin-bottom: 20px;
            }
            .btn-discover {
                margin-top: 0px;
                letter-spacing: 0px;
                width: 100px;
                height: 25px;
            }
        }
        .header-social {
            li {
                font-size: 15px;
                line-height: 1.5;
                p {
                    width: 80px;
                }
            }
        }
    }
    .main-content {
        .promotion {
            height: 64px;
            &-title {
                letter-spacing: 0;
                line-height: 1;  
                font-size: 14px; 
            }
            .sub-title {
                letter-spacing: 0px;
                font-size: 12px;
                line-height: 1;
            }   
            &-item {
                padding: 15px;
                width: 33.33333%;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
        }
        .banner {
            .row {
                padding: 0;
                .banner-item {
                    padding: 0 10px;
                    margin-bottom: 20px;
                }
            }
            .banner2 {
                .content {
                    top: 14%;
                    right: 8.5%;
                    .title {
                        font-size: 15px;
                    }
                    .percent {
                        margin-top: 5%;
                        font-size: 60px; 
                    }
                    .sub-title {
                        font-size: 16px;
                        margin-top: 16%; 
                    }
                    .shop-now {
                        margin-top: 0;
                        font-size: 14px;
                        line-height: 2.5;
                    }
                }
            }
            .banner1 {
                .content {
                    .title {
                        font-size: 16px;
                    }
                    .price {
                        font-size: 16px;
                    }
                }
            }
            .banner3 {
                .content {
                    .sub-title {
                        letter-spacing: 1.6px;
                        word-spacing: 0px;
                    }
                    .title {
                        font-size: 42.701px;
                    }
                }
            }
            .banner5 {
                .content {
                    .title {
                        font-size: 16px;
                    }
                    .price {
                        font-size: 16px;
                    }
                }
            }
        }
        .featured {
            .featured-list {
                .featured-item {
                    width: 100%;
                }
            }
            .featured-top {
                .featured-heading {
                    font-size: 42px;
                }
                .view-more {
                    p,
                    ion-icon {
                        padding-top: 18px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
        .blog {
            .heading {
                font-size: 40px;
            }
            margin: 0 auto;
            margin-top: 100px;
            .blog-list {
                .row {
                    .blog-item {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:420px) {
    .logo-375 {
        display: block;
    }
    .header {
        .header-content {
            margin-top: 20px;
        }
    }
    .main-content {
        .promotion {
            display: block;
            border: none;
            &-item {
                padding: 15px;
                width: 100%;
                border-bottom: 1px solid rgb(239, 239, 239);
            }
        }
        .slogan {
            padding-top: 100px;
            height: 250px;
            p {
                font-size: 15px;
            }
        }
        .banner {
            .banner2 {
                .content {
                    top: 14%;
                    right: 8.5%;
                    .title {
                        font-size: 15px;
                    }
                    .percent {
                        margin-top: 5%;
                        font-size: 40px; 
                    }
                    .sub-title {
                        font-size: 13px;
                        margin-top: 16%;
                        line-height: 1.6; 
                    }
                    .shop-now {
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 0.5;
                    }
                }
            }
            .banner6 {
                .content {
                    .title {
                        font-size: 36px;
                    }
                }
            }
        }
        .featured {
            .featured-top {
                .featured-heading {
                    font-size: 36px;
                }
                .view-more {
                    p,
                    ion-icon {
                        padding-top: 6px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        .blog {
            .heading {
                font-size: 30px;
            }
        }
        .brand {
            .brand-list {
                .brand-item {
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 0;
                }
            }
        }
    }
    .footer {
        position: relative;
        height: 390px;
        .footer-top {
            img {
                width: 150px;
                height: 95px;
            }
            .nav-mobile {
                .nav-title {
                    font-size: 25px;
                }
            }
        }
        .footer-bottom {
            display: block;
            text-align: center;
            .footer-social {
                display: flex;
                justify-content: space-around;
                order: 1;
            }
            .copy-right {
                position: absolute;
                display: flex;
                justify-content: center;
                order: 2;
                width: 320px;
                text-align: center;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
@media all and (max-width:375px) {
    .main-content {
        .banner {
            .banner2,
            .banner6 {
                width: 100%;
                order: 1;
            }
            .banner1,
            .banner3,
            .banner4,
            .banner5 {
                width: 100%;
                order: 2;
            }
            .banner2 {
                .content {
                    top: 14%;
                    right: 5.5%;
                }
            }
        }
        .featured {
            .featured-top {
                padding: 0 20px;
            }
        }

    }
    .footer {
        position: relative;
        height: 390px;
        .footer-top {
            img {
                width: 150px;
                height: 95px;
            }
            .nav-mobile {
                .nav-title {
                    font-size: 25px;
                }
            }
        }
        .footer-bottom {
            display: block;
            .footer-social {
                display: flex;
                justify-content: space-around;
                order: 1;
            }
            .copy-right {
                position: absolute;
                order: 2;
                text-align: center;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
